/* Stylesheet */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

strong {
	font-weight: bold;
}
a {
	color: #0099ff;
}
.apassive{}.afirst{}.asecond{}.athird{}.afourth{}

.abl {
	text-decoration: underline;
}
.affdur {
	color: #55ff55;
}
.affeff {
	color: #5599ff;
}
.affran {
	color: #ffff55;
}
.affstr {
	color: #ff5555;
}

button.buildbutton {
	border: .0125em solid white;
	padding: .125em .25em;
	background-color: inherit;
	color: inherit;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: .75em;
}











/*Used on all pages*/

html {
	font-family: Arial;
	background-color: #222;
	color: #ddddd0;
}
nav {
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
nav li {
	border-bottom: .125em solid #0099ff;
	padding: 0 1em 0 1em; /*yes, padding, not margin*/
	color: #fff;
}
main {
	 margin: 0 1em 0 1em;
}
p {
	margin-bottom: 1em;
	line-height: 1.25em;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: .5em;
}
h2 {
	margin-top: 1.5em;
	margin-bottom: .5em;
	font-size: 1.5em;
	font-weight: bold;
}
em {
	font-style: italic;
}
ul {
	margin-bottom: 1em;
}
li {
	list-style: disc;
	margin: 0 0 .5em 2em;
}

footer {
	margin-top: 1em;
	padding: 1em;
	background:radial-gradient(rgba(255,255,255,0), rgba(0,150,255,.1));
	border: 1px solid #999999;
}
#topfooter {
	margin-bottom: .25em;
}
#botfooter {
	font-style: italic;
	color: rgba(255,255,255, .4);
}
